*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style-type: none;
}

#nav{
    position: fixed;
    width: 100%;
    z-index: 99999;
    .logo{
        cursor: pointer;
        img{
            width: 60%;
        }
    }
    .right{
        .main{
            display: inline-block;
            .bar{
                display: inline-block;
                padding: 24px;
                position: relative;
                .main2{
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 900;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        transition: .4s;
                    }
                }
                &:hover{
                    .main2{
                        &::before{
                            width: 100%;
                            left: 0;
                        }
                    }
                    .content{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .content{
                    transition: .4s;
                    opacity: 0;
                    visibility: hidden;
                    text-align: left;
                    padding: 25px 40px;
                    width: 250px;
                    background-color: #fff;
                    left: -50px;
                    top: 72px;
                    position: absolute;
                    li{
                        &:hover{
                            a{
                                &::before{
                                    width: 100%;
                                    left: 0;
                                }
                            }
                        }
                        a{
                            text-decoration: none;
                            font-weight: 300;
                            font-size: 13px;
                            margin-bottom: 10px;
                            position: relative;
                            color: #282828;
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 0;
                                height: 1px;
                                background-color: #282828;
                                transition: .4s;
                            }
                        }
                    }
                }
            }
            .bar:nth-child(1){
                .main2{
                    &::before{
                        width: 100%;
                    }
                }
                .content{
                    li:nth-child(1){
                        a{
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .icons{
            display: inline-block;
            li{
                display: inline-block;
                i{
                    cursor: pointer;
                    margin-left: 20px;
                    color: #fff;
                    font-size: 22px;
                }
            }
        }
    }
}
#mob{
    z-index: 99999;
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0;
    display: none;
    margin: 0;
    .left{
        i{
            cursor: pointer;
            color: #b4b4b4;
            font-size: 16px;
            margin-left: 30px;
        }
    }
    .right{
        img{
            cursor: pointer;
            width: 30%;
        }
    }
}
#header{
    background-image: url('../photos/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 15rem 0;
    user-select: none;
    h1{
        font-size: 75px;
        color: #fff;
    }
    p{
        font-size: 17px;
        color: #fff;
        margin-bottom: 30px;
    }
    a{
        padding: 10px 25px;
        text-decoration: none;
        font-size: 13px;
        color: #fff;
        border: 1px solid #fff;
        transition: .4s;
        &:hover{
            background-color: #282828;
            border: 1px solid #282828;
            i{
                margin-left: 15px;
            }
        }
        i{
            transition: .4s;
            color: #fff;
            font-size: 13px;
            margin-left: 10px;
        }
    }
}
#products{
    padding: 5rem 0;
    .pro-text{
        padding-bottom: 2rem;
        h2{
            font-size: 35px;
            color: #282828;
        }
        p{
            margin-top: 20px;
            color: #737373;
            font-size: 17px;
        }
    }
    .all{
        .photo{
            cursor: pointer;
            position: relative;
            overflow: hidden;
            img{
                transition: .4s;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
                a{
                    left: -100px;
                }
            }
            a{
                &:hover{
                    left: 0;
                }
                font-size: 12px;
                transition: .4s;
                left: -10rem;
                bottom: 10%;
                position: absolute;
                background-color: #282828;
                padding: 10px 20px;
                color: #fff;
                text-decoration: none;
                i{
                    font-size: 12px;
                    margin-left: 30px;
                }
            }
            p{
                position: absolute;
                top: 1rem;
                left: 1rem;
                color: #282828;
                font-size: 12px;
                font-weight: 900;
                letter-spacing: 3px;
            }
        }
        .photo-text{
            padding: 30px 0;
            text-align: center;
            h3{
                cursor: pointer;
                font-size: 15px;
                color: #282828;
                transition: .4s;
                &:hover{
                    color: #b4b4b4;
                }
            }
            p{
                color: #282828;
                font-size: 12px;
                span{
                    color: #b4b4b4;
                    text-decoration: line-through;
                }
            }
        }
        .sold{
            .photo{
                &:hover{
                    a{
                        left: 0;
                    }
                }
                p{
                    color: #b4b4b4;
                }
            }
        }
    }
}
#parallax{
    .top{
        padding: 10rem 0;
        background-image: url('../photos/parallax-1.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        .top-text{
            text-align: center;
            h1{
                font-size: 35px;
                color: #fff;
            }
            p{
                padding: 20px 0 30px;
                font-size: 17px;
                color: #fff;
            }
            a{
                padding: 10px 25px;
                text-decoration: none;
                font-size: 15px;
                color: #fff;
                border: 1px solid #fff;
                transition: .4s;
                &:hover{
                    background-color: #282828;
                    border: 1px solid #282828;
                    i{
                        margin-left: 15px;
                    }
                }
                i{
                    transition: .4s;
                    color: #fff;
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
        }
    }
    .bottom{
        padding: 12rem 0 ;
        background-image: url('../photos/parallax-2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
        i{
            cursor: pointer;
            color: #fff;
            font-size: 50px;
            background-color: #ffffff99;
            padding: 25px 30px;
            border-radius: 100%;
            transition: .4s;
            &:hover{
                background-color: #282828;
            }
        }
    }
}
#chairs{
    overflow: hidden;
    padding: 10rem 0;
    .left-text{
        padding: 2rem 0;
        text-align: center;
        h1{
            font-size: 35px;
            color: #282828;
        }
        p{
            padding: 20px 0 30px;
            font-size: 17px;
            color: #737373;
        }
        a{
            padding: 10px 25px;
            text-decoration: none;
            font-size: 13px;
            color: #282828;
            border: 1px solid #282828;
            transition: .4s;
            &:hover{
                color: #fff;
                background-color: #282828;
                border: 1px solid #282828;
                i{
                    color: #fff;
                    margin-left: 15px;
                }
            }
            i{
                transition: .4s;
                color: #282828;
                font-size: 13px;
                margin-left: 10px;
            }
        }
    }
    .right{
        background-color: #f7f5f5;
        position: relative;
        .img1{
            margin: 2rem 0 0 -5rem;
        }
        .img2{
            width: 60%;
            position: absolute;
            bottom: 0;
            right: -8rem;
        }
        .img3{
            width: 80%;
            margin: 2rem 0 0 -5rem;
        }
        .img4{
            width: 60%;
            position:absolute;
            bottom: 0;
            right: -6rem;
        }
        .img5{
            width: 90%;
            margin: 2rem 0 1rem -5rem;
        }
        .img6{
            position: absolute;
            top: -6rem;
            right: 0;
        }
    }
}
#order{
    overflow: hidden;
    padding: 3rem 0;
    background-color: #ecf2f8;
    p{
        display: inline;
        font-size: 27px;
        color: #282828;
    }
    a{
        float: right;
        padding: 10px 25px;
        text-decoration: none;
        font-size: 13px;
        color: #282828;
        border: 1px solid #282828;
        transition: .4s;
        &:hover{
            color: #fff;
            background-color: #282828;
            border: 1px solid #282828;
            i{
                color: #fff;
                margin-left: 15px;
            }
        }
        i{
            transition: .4s;
            color: #282828;
            font-size: 13px;
            margin-left: 10px;
        }
    }
}

#policy{
    padding-top: 10rem;
    .box{
        
        .hover{
            cursor: pointer;
            i{
                font-size: 40px;
                color: #282828;
                transition: .2s;
            }
            span{
                font-weight: 900;
                font-size: 19px;
                color: #282828;
                padding-left: 20px;
                transition: .2s;
            }
            &:hover{
                i{
                    color: #848484;
                }
                span{
                    color: #848484;
                }
            }
        }
        p{
            margin-top: 14px;
            color: #939393;
            font-size: 17px;
        }
    }
}

#gall{
    padding: 10rem 0;
    .photo{
        overflow: hidden;
        img{
            cursor: pointer;
            transition: .6s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .text{
        padding-top: 30px;
        .date{
            a{
                color: #282828;
                text-decoration: none;
                font-size:12px;
                transition: .4s;
                &:hover{
                    color: #b4b4b4;
                }
            }
            span{
                font-size: 12px;
                color: #282828;
            }
        }
        p{
            margin: 10px 0 20px;
            cursor: pointer;
            color: #282828;
            transition: .4s;
            font-size: 19px;
            &:hover{
                color: #b4b4b4;
            }
        }
        .read{
            text-decoration: none;
            color: #282828;
            font-size: 13px;
            position: relative;
            padding-left: 13px;
            transition: .4s;
            &:hover{
                padding-left: 0;
                &::after{
                    width: 0;
                    height: 0;
                }
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                transition: .4s;
                background-color: #282828;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 50%;
                left: 0;
                width: 10px;
                height: 1px;
                transition: .4s;
                background-color: #282828;
            }
        }
    }
}


#comment{
    background-color: #ecf2f8;
    padding: 5rem 0;
    text-align: center;
    span{
        font-size: 90px;
        color: #282828;
        font-weight: 100;
    }
    p{
        color: #737373;
        font-size: 17px;
        padding-bottom: 30px;
    }
    h3{
        font-weight: 900;
        padding-left: 18px;
        display: inline-block;
        font-size: 19px;
        color: #282828;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 40%;
            height: 2px;
            width: 15px;
            background-color: #282828;
        }
    }
    h6{
        font-size: 12px;
        color: #282828;
    }
}
#brands{
    padding: 5rem 0;
    text-align: center;
    img{
        cursor: pointer;
        margin: 0 30px;
        opacity: 0.5;
        transition: .4s;
        &:hover{
            opacity: 1;
        }
    }
}

#about{
    padding: 5rem 0;
    background-color: #282828;
    border-bottom: 1px solid #3e3e3e;
    h2{
        padding-bottom: 20px;
        color: #fff;
        font-size: 15px;
    }
    p{
        font-size: 13px;
        color: #939393;
        margin: 0;
    }
    a{
        display: block;
        text-decoration: none;
        color: #939393;
        font-size: 13px;
        transition: .4s;
        &:hover{
            color: #b4b4b4;
        }
    }
}

#footer{
    background-color: #282828;
    padding: 3rem 0;
    .left{
        a{
            margin-right: 30px;
            text-decoration: none;
            font-size: 13px;
            color: #fff;
            transition: .4s;
            &:hover{
                color: #b4b4b4;
            }
        }
    }
    .right{
        span{
            font-size: 13px;
            color: #bdbdbd;
        }
        a{
            text-decoration: none;
            color: #939393;
            font-size: 13px;
            transition: .4s;
            &:hover{
                color: #bdbdbd;
            }
        }
    }
}

@media (max-width:576px){
    #mob{
        display: block;
    }
    #nav{
        display: none;
    }
    #header{
        h1{
            font-size: 52px;
        }
    }
    #chairs{
        .img1{
            margin-left: 0 !important;
            width: 50%;
        }
        .img2{
            right: -1rem  !important;
            width: 50% !important;
        }
        .img3{
            margin-left: -1rem !important;
            width: 70% !important;
        }
        .img4{
            right: 0 !important;
            width: 55% !important;
        }
        .img5{
            margin: 8rem 0 1rem -1rem !important;
            width: 70% !important;
        }
        .img1{
            width: 50%;
        }
    }
    #order{
        p{
            display: block;
        }
        a{
            float: left;
        }
    }
}